__pycache*

*.sublime-project

*.sublime-workspace

\.python-version

bin/

lib/python3\.6/

\.pydevproject
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/MSU_CSCI_466_Programming_AssignmentsL.iml
